{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h3>자동으로 예약하는 프로그램</h3>
    <form method="post" action="{% url 'mbam:login' %}">
        <input type="text" name="csrfmiddlewaretoken" value={{csrf_token}}>
        <input type="text" name="id" placeholder="아이디 입력">
        <input type="text" name="pwd" placeholder="비밀번호 입력">
        
        <select id="select" name="comment" >
            <option value="">댓글 달 곳</option>
            <optgroup label="오피스텔" name ="op">
                <option value="opgang" name="opgang">강남</option>
                <option value="opbi" name="opbi">비강남</op>
                <option value="opkk" name="opbi">경기</option>
                <option value="opinbu" name="opkyung">인부천</option>
                <option value="opchung" name="opkyung">충청</option>
                <option value="opjun" name="opkyung">전라</option>
                <option value="opkyungs" name="opkyung">경상</option>
                <option value="opde" name="opkyung">대구</option>
                <option value="opje" name="opkyung">제주</option>
            </optgroup>
            <optgroup label="Option group 2">
                <option value="">Option 4</option>
                <option value="">Option 5</option>
                <option value="">Option 6</option>
            </optgroup>
        </select>
        <input type="submit" value="누르기">
    </form>
</div>


{% endblock %}